@font-face {
    font-family: suburbana;
    src: url("../fonts/Suburbana.ttf");
}

@font-face {
    font-family: anson;
    src: url("../fonts/anson-regular-webfont.ttf");
}

html {
    background-color: black;
    background-image: url("../img/background.jpg");
}

body {
    padding: 15px;
    margin: 0;
    font: arial;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

#wrapper {
    max-width: 1200px;
    margin: 10px auto;
}

header,
section {
    background-color: rgba(255, 255, 255, 0.94);
    margin-top: 10px;
    padding: 10px;
    overflow: hidden;
}

h2 {
    color: #509dd2;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: suburbana;
    letter-spacing: 5px;
}

h3 {
    color: #06561d;
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: anson;
    font-weight: bold;
    letter-spacing: 3px;
}

p {
    margin: 0;
}

/* Banner */

.banner {
    display: block;
    width: 100%;
}

#main-banner,
#banner-2 {
    padding: 0;
}

/* Buttons */

.button {
    color: white;
    text-decoration: none;
    padding: 4px 10px;
    display: inline-block;
    background: linear-gradient(to bottom, #06561d 0%, #043712 100%);
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 1, 1, 1);
    box-shadow: 1px 1px 3px 1px rgba(0, 1, 1, 1);
}

.button:hover {
    background: #333333;
}

.buttons .button {
    margin-right: 5px;
}


/* Color Boxes */

.color-box {
    margin-top: 10px;
}

.color-box div {
    display: inline-block;
}

.color-info {
    vertical-align: top;
    margin-left: 5px;
    padding-right: 25px;
}

.color-info p:first-of-type {
    font-weight: bold;
}

.color-info p {
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

#color1 {
    width: 80px;
    height: 80px;
    background-color: #a32c2c;
}

#color2 {
    width: 80px;
    height: 80px;
    background-color: #560f0f;
}

#color3 {
    width: 80px;
    height: 80px;
    background-color: #509dd2;
}

#color4 {
    width: 80px;
    height: 80px;
    background-color: #06561d;
}

#color5 {
    width: 80px;
    height: 80px;
    background-color: #2ca34e;
}

/* Martians */

#martians img {
    width: 100%;
}

@media (min-width: 520px) {
    .color-box {
        width: 50%;
        float: left;
    }
}

@media (min-width: 768px) {
    main {
        width: 70%;
        float: left;
    }

    #typography,
    #button-example,
    #martians {
        width: calc(30% - 10px);
        margin-left: 10px;
        float: left;
    }

    .color-box {
        width: 50%;
        float: left;
    }
}

@media (min-width: 950px) {
    .color-box {
        width: 33%;
        float: left;
    }
}
